In [1]:
#importing required libraries
import pandas as pd
import numpy as np
import glob
from scipy import stats

In [3]:
import os
os.getcwd()

'C:\\Users\\Teja\\Desktop\\Python Programming'

In [4]:
#Changing the current working directory
os.chdir(r"A:\Data Science\Springboard\Capstone 1\all")

In [5]:
#Finding the list of files to upload
pattern = '*.csv'
csv_files = glob.glob(pattern)
print(csv_files)

['aisles.csv', 'departments.csv', 'orders.csv', 'order_products__prior.csv', 'order_products__train.csv', 'products.csv', 'sample_submission.csv']

In [6]:
#uploading required files
aisles = pd.read_csv("aisles.csv")
departments = pd.read_csv("departments.csv")
orders = pd.read_csv("orders.csv")
orders_products_prior = pd.read_csv("order_products__prior.csv")
orders_products_train = pd.read_csv("order_products__train.csv")
products = pd.read_csv("products.csv")

In [7]:
# Assigining names to the datasets
data_list = [aisles, departments, orders, 
             orders_products_prior, orders_products_train, products]
data_list_name = ['aisles', 'departments', 'orders', 
'orders_products_prior', 'orders_products_train', 'products']

j=0
for i in data_list:
    i.name = data_list_name[j]
    j += 1

In [8]:
#Checking for null values
#Creating a function to find null values
def null_columns(x):
    y = x.columns[x.isnull().any()]
    return y

In [9]:
for dataset in data_list:
    if len(null_columns(dataset)) == 0:
        print('Dataset ' + dataset.name + ' has no null values ')
    else:
        print('Dataset '+ dataset.name + ' has null values in column '+ str([i for i in null_columns(dataset)]))

Dataset aisles has no null values
Dataset departments has no null values
Dataset orders has null values in column ['days_since_prior_order']
Dataset orders_products_prior has no null values
Dataset orders_products_train has no null values
Dataset products has no null values

In [10]:
#Dataset orders has null values in column ['days_since_prior_order'] 
# Other Columns have no null values
#Finding the number of null values in orders.days_since_prior_order
sum(orders.days_since_prior_order.isnull())

206209

In [11]:
#There are 206209 null values
#Lets examine the null values
orders.loc[orders.days_since_prior_order.isnull()==True,['user_id', 'order_number']]

         user_id  order_number
0              1             1
11             2             1
26             3             1
39             4             1
45             5             1
50             6             1
54             7             1
75             8             1
79             9             1
83            10             1
89            11             1
97            12             1
103           13             1
116           14             1
130           15             1
153           16             1
160           17             1
201           18             1
208           19             1
218           20             1
223           21             1
257           22             1
273           23             1
278           24             1
297           25             1
301           26             1
314           27             1
396           28             1
421           29             1
440           30             1
...          ...           ...
3420548   206180             1
3420567   206181             1
3420582   206182             1
3420593   206183             1
3420608   206184             1
3420613   206185             1
3420624   206186             1
3420628   206187             1
3420663   206188             1
3420671   206189             1
3420678   206190             1
3420687   206191             1
3420693   206192             1
3420708   206193             1
3420750   206194             1
3420762   206195             1
3420782   206196             1
3420787   206197             1
3420811   206198             1
3420819   206199             1
3420839   206200             1
3420863   206201             1
3420896   206202             1
3420919   206203             1
3420925   206204             1
3420930   206205             1
3420934   206206             1
3421002   206207             1
3421019   206208             1
3421069   206209             1

[206209 rows x 2 columns]

In [12]:
#days_since_prior_order attribue for first order for all the users is null so it can be changed to 0
orders.days_since_prior_order = orders.days_since_prior_order.fillna(int(0))

In [13]:
#Datatypes
orders.dtypes

order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [14]:
# "order_id", "user_id" should be of data type object
to_object= ["order_id", "user_id"]
orders[to_object]= orders[to_object].astype('object')

In [15]:
aisles.dtypes

aisle_id     int64
aisle       object
dtype: object

In [16]:
#aisle_id should be object
aisles.aisle_id = aisles.aisle_id.astype('object')

In [17]:
departments.dtypes

department_id     int64
department       object
dtype: object

In [18]:
#department_id should be object
departments.department_id = departments.department_id.astype('object')

In [19]:
orders_products_prior.dtypes

order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

In [20]:
#order_id and product_id should be of type object
orders_products_prior[['order_id', 'product_id']] = orders_products_prior[['order_id', 'product_id']].astype('object')

In [21]:
orders_products_train.dtypes
orders_products_train[['order_id', 'product_id']] = orders_products_train[['order_id', 'product_id']].astype('object')

In [23]:
#Finding Outliers
#Datasets aisles and departments are just categorical data, so there is no chance of outliers
#Checking for outliers in orders
for column in orders:
    if orders[column].dtype != 'object':
        percentile_range = np.percentile(orders[column], [2.5, 97.5])
        outliers=orders[column][(orders[column]<percentile_range[0])&(orders[column]>percentile_range[1])]
        print(outliers)

Series([], Name: order_number, dtype: int64)
Series([], Name: order_dow, dtype: int64)
Series([], Name: order_hour_of_day, dtype: int64)
Series([], Name: days_since_prior_order, dtype: float64)

In [25]:
#Checking for outliers in orders_products_prior
for column in orders_products_prior:
    if orders_products_prior[column].dtype != 'object':
        percentile_range = np.percentile(orders_products_prior[column], [2.5, 97.5])
        outliers=orders_products_prior[column][(orders_products_prior[column]<percentile_range[0])&(orders_products_prior[column]>percentile_range[1])]
        print(outliers)

Series([], Name: add_to_cart_order, dtype: int64)
Series([], Name: reordered, dtype: int64)

In [27]:
#Checking for outliers in orders_products_train
for column in orders_products_train:
    if orders_products_train[column].dtype != 'object':
        percentile_range = np.percentile(orders_products_train[column], [2.5, 97.5])
        outliers=orders_products_train[column][(orders_products_train[column]<percentile_range[0])&(orders_products_train[column]>percentile_range[1])]
        print(outliers)
#there are no outliers in all the datasets

Series([], Name: add_to_cart_order, dtype: int64)
Series([], Name: reordered, dtype: int64)